
.layout{
  display: flex;
  background-color:#e8f0ef;

  .sidebar{
    height: max-content;
    margin: 15px;

    div{
      background-color: #002c54;
      color: #ffffff;
      font-weight: 400;
      border-radius: 10px;
    }
    hr {
      margin: 25px 0;
      height: 1px;
      border: 0;
      background: linear-gradient(63deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,248,248,0) 100%);
    }
  }

  .container{
    flex-grow: 1;
    margin-top: 15px;
  }
}

.underline-grow:hover {
  display: inline-block;
  position: relative;
}
/* 
.underline-grow::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.dashboard-chart{
  display: flex;
  justify-content: space-around;
}