.cards-container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 260px);

    @include for-laptop {
        grid-template-columns: repeat(2, 260px);
    }
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-container{
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 15px;
        position: relative;
        z-index: 1000;
        left: 24px;
    }

    .card{
        height: 118px;
        width: 252px;
        display: flex;
        align-items: flex-end;
        justify-content: end;
        text-align: end;
        position: relative;
        bottom: 40px;

        .title{
            font-size: 16px;
            font-weight: 100;
        }
    }
}